[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AkagiYuu/neovim-config
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato
