[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AkagiYuu/neovim-config
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato
[submodule ".config/awesome/modules/color"]
	path = .config/awesome/modules/color
	url = https://github.com/andOrlando/color
[submodule ".config/awesome/modules/collision"]
	path = .config/awesome/modules/collision
	url = https://github.com/manos00/collision
[submodule ".config/awesome/collision"]
	path = .config/awesome/collision
	url = https://github.com/manos00/collision
[submodule ".config/awesome/modules/awesome-modalbind"]
	path = .config/awesome/modules/awesome-modalbind
	url = https://github.com/crater2150/awesome-modalbind
	branch = new-keygrabber
[submodule ".config/awesome/modules/modalbind"]
	path = .config/awesome/modules/modalbind
	url = https://github.com/crater2150/awesome-modalbind
	branch = new-keygrabber
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/akagiyuu/awesomewm-config
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/yazi/plugins/starship.yazi"]
	path = .config/yazi/plugins/starship.yazi
	url = https://github.com/Rolv-Apneseth/starship.yazi.git
