@import "mocha.scss";
$font: Cartograph CF, Symbols Nerd Font;
$border-radius: 5px;

@mixin container($bg: $base, $fg: $text) {
    margin-top: 6px;
    margin-left: 8px;
    padding: 4px 10px;
    margin-bottom: 0px;
    border-radius: $border-radius;
    transition: none;
    color: $fg;
    background: $bg;
}

* {
    border: none;
    border-radius: $border-radius;
    font-family: $font;
    font-size: 15px;
    min-height: 10px;
    color: $text;
}
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    @include container($peach);
}
@keyframes button_activate {
	from { opacity: 0.3 }
	to { opacity: 1.0; }
}

#workspaces button {
	border: none;
	color:  #d4d2a9;
	// padding: 3px;
	background: transparent;
	box-shadow: none;
    &.active {
	    color:  #81A1C1;
	    background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
	    animation: button_activate .2s ease-in-out;
        &:hover { background: inherit; }
    }
    &.urgent {
        color:  #fa9f8e;
        background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132, 129, 156, 0) 30%);
        &:hover { background: inherit; }
    }
    &.persistent { color:  #85909e; }
    &:hover {
	    border: none;
	    background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
    }
}



#window {
    @include container(transparent, transparent);
}
#taskbar button {
    @include container($mantle);
}
#network {
    @include container($mauve);
}

#pulseaudio {
    @include container($yellow);
}

#clock {
    @include container($green);
}

#memory {
    @include container($teal);
}
#cpu {
    @include container($red);
}
#tray {
    @include container($base);
}
#custom-weather {
    @include container($flamingo);
}
